<!DOCTYPE html>
<html lang="en">

<head>
 {% include '/default/navbar.html.twig' %}
</head>
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>
<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-center">           
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
            <div class="portfolio">
                <div class="container-fluid">
                    <div class="grid img-container justify-content-center no-gutters">                        
                        {% set count = 0 %}
                        {% for POSTS in POST %}                            
                            {% set count = count + 1 %}                           
                        {% endfor %}                        
                        <div class="row">                            
                            {% set i = 0 %}
                            {% for POSTS in POST %}                        
                                <div class="  col-sm-12 col-md-6 col-lg-3 imgFus">
                                    <a href="/img/portfolio/{{POSTS['img']}}" title="project name 1">
                                        <div class="indexImgRedim">
                                            <img src="/img/portfolio/{{POSTS['img']}}" alt="pro1" />
                                            <div class="product_info">
                                                <div class="product_info_text">
                                                    <div class="product_info_text_inner">
                                                        <i class="ion ion-plus"></i>
                                                        <h4>{{POSTS['desc']}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% if ((i+1) is divisible by(4)) and (i != 0) and ((i+1) != count)%}
                                    </div>
                                    <div class="row">
                                {% endif %}
                                {%set i = i + 1%}
                            {% endfor %}                        
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>